---
import Container from './Container.astro'
import { cn } from '@/lib/utils'

interface Props {
  id?: string
  class?: string
  containerSize?: 'sm' | 'md' | 'lg' | 'xl' | 'full'
  noPadding?: boolean
}

const {
  id,
  class: className,
  containerSize = 'lg',
  noPadding = false,
  ...rest
} = Astro.props

const classes = cn(
  !noPadding && 'py-12 sm:py-16 md:py-24 lg:py-32',
  className
)
---

<section id={id} class={classes} {...rest}>
  <Container size={containerSize}>
    <slot />
  </Container>
</section>
