---
import { cn } from '@/lib/utils'

export interface Props {
  class?: string
}

const { class: className } = Astro.props

const classes = cn('font-semibold leading-none tracking-tight', className)
---

<h3 class={classes}>
  <slot />
</h3>
