---
import { cn } from '@/lib/utils'

export interface Props {
  class?: string
}

const { class: className } = Astro.props

const classes = cn('p-6 pt-0', className)
---

<div class={classes}>
  <slot />
</div>
