---
import { cn } from "@/lib/utils"

interface Props {
  text: string
  class?: string
}

const { text, class: className } = Astro.props
---

<span class={cn("group relative inline-flex", className)}>
  <slot />
  <span
    role="tooltip"
    class="pointer-events-none absolute -top-8 left-1/2 z-20 hidden -translate-x-1/2 whitespace-nowrap rounded-md border border-border bg-popover px-2 py-1 text-xs text-popover-foreground shadow-md group-hover:block group-focus-within:block"
  >
    {text}
  </span>
</span>
